body {
	background-color: $header-footer-background-color;
	color: $header-footer-text-color;
	min-width: $minimum-content-width;
}

a {
	color: $header-footer-link-color;
	text-decoration: underline;
	transition: color $animation-duration ease-out;

	&:hover {
		color: $header-footer-link-color-alt;
	}
}

h1, h2, h3, h4, h5 {
	color: $theme-color;
}

.container {
	max-width: $header-footer-content-width;

}

hr {
	width: $unit * 2;
	background: $theme-color;
	margin-left: auto;
	margin-right: auto;
}

.hide-from-xs-down {
	@include device-xs-max {
		display: none;
	}
}

.hide-from-sm-down {
	@include device-sm-max {
		display: none;
	}
}

.hide-from-md-down {
	@include device-md-max {
		display: none;
	}
}

.hide-from-sm-up {
	@include device-sm-min {
		display: none;
	}
}

.hide-from-md-up {
	@include device-md-min {
		display: none;
	}
}

.hide-from-lg-up {
	@include device-lg-min {
		display: none;
	}
}
