body {
  background-color: $background-color;
  color: $content-text-color;
}

a {
  color: $theme-color;
  text-decoration: underline;

  &:hover {
    color: $theme-color-light;
  }
}

.container {
  max-width: $content-width;
}

main {
  background-color: $content-background-color;
  padding: $unit 0;
  overflow: hidden; // Prevent margin collapsing to siblings
}
