body {
	background-color: $header-footer-background-color;
	color: $header-footer-text-color;
	min-width: $minimum-content-width;
}

a {
	color: $header-footer-link-color;
	text-decoration: underline;

	&:hover {
		color: $header-footer-link-color-alt;
	}
}

h1, h2, h3, h4, h5 {
	color: $theme-color;
}

.container {
	max-width: $header-footer-content-width;

}

hr {
	width: $unit * 2;
	background: $theme-color;
	margin-left: auto;
	margin-right: auto;
}
