$logo-color: #fdfdfd;

$theme-light: #ffeee4;
$theme-color: #f88a36;
$theme-dark: #262626;

$header-footer-background-color: #1c1c1d;
$main-background-color: $theme-dark;
$code-background-color: $header-footer-background-color;

$header-footer-text-color: #999;
$main-text-color: #e3e3e3;
$main-meta-text-color: #aaa;

$header-footer-link-color: #999;
$header-footer-link-color-alt: $theme-color;

$main-link-color: $theme-color;
$main-link-color-alt: lighten($main-link-color, 15%);

$primary-button-color: $theme-color;
$secondary-button-color: $theme-dark;
