.logomark > svg path {
  transition: fill $animation-duration;
  fill: $logo-color;
}

div.highlighter-rouge {
  @extend %full-width;
  > .highlight {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
