.site-footer {
  text-align: center;
  line-height: 0;
}

.site-footer a.footer-logomark {
  display: inline-block;
  margin: $unit * 2 auto;
  opacity: 0.1;
  transition: opacity $animation-duration;

  > svg {
    display: block;
    width: $unit * 2;
    height: $unit * 2;
  }

  &:hover {
    opacity: 1;

    svg path {
      fill: $theme-color;
      opacity: 1;
    }
  }
}
