$footer-logo-size: $unit * 2;

.site-footer .container {
	padding-top: $unit * 2;
	padding-bottom: $unit * 2;
	text-align: center;
}

.site-footer ul.footer-info {
	margin: 0 0 $unit 0;
	padding: 0;
	list-style: none;
}

.site-footer .logomark {
	display: block;
	margin: 0 auto;
	width: $footer-logo-size;
	height: $footer-logo-size;
	opacity: 0.3;

	svg {
		width: $footer-logo-size;
		height: $footer-logo-size;
	}
}

#show-me-the-rhythm:hover {
	// Prevent blue outline
	outline: none;
}
