.site-header {
  text-align: center;
  line-height: 0;
}

.site-header .header-logomark {
  display: inline-block;
  margin: $unit * 2 auto;

  > svg {
    display: block;
    width: $unit * 3;
    height: $unit * 3;
  }
}

.site-header a:hover svg path {
  fill: $theme-color;
}
