.logomark {
	transform: scale(1);
	transition:
		transform $animation-duration ease-out,
		opacity $animation-duration ease-out;
}

.logomark svg path {
	fill: $logo-color;
	transition: fill $animation-duration ease-out;
}

.logomark:hover {
	opacity: 1;
}

.logomark:hover svg path {
	fill: $theme-color;
}
