$unit: 27px;
$animation-duration: 0.3s;

$device-sm-width: /* >= */ 768px;
$device-md-width: /* >= */ 992px;
$device-lg-width: /* >= */ 1200px;

$content-horizontal-padding: 15px;

$border-thickness: 2px;
$hr-height: 3px;

$header-footer-content-width: 800px;
$minimum-content-width: 320px;
$main-content-width: 560px;
$extended-content-width: 800px; // Images, code blocks, etc

$header-height: $unit * 5;

$floating-bar-z-index: 100;
