<footer class="site-footer">
	<div class="container">
		<ul class="footer-info">
			<li class="footer-links">
				<a href="{{ site.mailchimp_url }}">Subscribe&nbsp;via&nbsp;Email</a><span class="hide-from-xs-down">&nbsp;&nbsp;•&nbsp;&nbsp;</span><br class="hide-from-sm-up" />
				<a href="{{ site.twitter_url }}">Twitter</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="{{ site.github_url }}">GitHub</a>
			</li>
			<li class="footer-theme-download">
				<a href="{{ "/static/Late%20Night%20Swift.xccolortheme" | relative_url }}">Download Xcode Theme</a>
			</li>
		</ul>

		<a class="logomark" href="/">{% include logomark-inverse.svg %}</a>
	</div>
</footer>
