<header class="site-header" role="banner">
	<div class="container">
		<div class="header-logomark">
			<a class="logomark" href="/">{% include logomark-inverse.svg %}</a>
		</div>

		<div class="left-side">
			<ul>
				<li class="header-subscribe"><a href="{{ site.subscribe_url }}">Subscribe</a></li>
				<li class="header-search"><a data-toggle="modal" data-target="#search-modal" href="javascript:">Search</a></li>
			</ul>
		</div>

		<div class="right-side">
			<ul>
				<li class="header-github"><a href="{{ site.github_url }}">GitHub</a></li>
				<li class="header-twitter"><a href="{{ site.twitter_url }}">Twitter</a></li>
			</ul>
		</div>
	</div>
</header>
