<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form id="search-form" action="https://www.google.com/search" method="get">
				<div class="modal-body">
					<input type="text" id="search-term" placeholder="Search Late Night Swift" />
					<input type="hidden" name="q" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>
